/************ AULA DE SELETORES *************/

/****seletor universal, ou seja, tudo que estiver dentro da pagina ao usar o *{} estara sendo afetado pelas formatações contidas no seletor***/
/* *{
    border: 1px solid red;
}

/*** seletor de texto***/
/* h1{
    color: green;
}

/***Seletor de classe***/
/* .verde{
    color: green;
}*/

/* p.verde{
    color: green;
}

/****Seletor de ID***/
/*#cabecalho{
    border: 1px solid blue;
}

/***Seletor de filho***/
/* o > representa filho de, no caso le de tras pra frente sendo assim: a é filho de li*/
/* li>a{  poderia ser outros elementos ex: div>ul, h1>p etc
    color: red;
    text-decoration: none; 
}*/

/***Seletor descendente ***/
/* div a { /* seleciona links a que estejam dentro de um paragrafo p ....
    color: green;
}*/

/***Seletor de irmão adjacente ***/
/*h1+p {
ele vai selecionar o primeiro elemento p depois de quaquer elemento h1
  color: red;
}*/

/***Seletor de irmão geral***/
/*
h1~p {
    color: red;
}*/

/****************** AULA DE HERANÇA *************/
/*
body {
    color: red;
}*/

/* se eu tiver dois seletores iguais a formatação que vai ser aplicada, será a ultima fortamação
p {
    color: blue;
}

p {
    color: red;
}

caso eu queira que não seja a ultima formatação a ser aplicada eu posso me utilizar do recurso important que aí ele faria essa formatação se sobresair, ficando assim:
p {
    color: blue !important;
}*/

/*se um seletor for igual ao outro, mas sua formatação for mais especifica que a outra irá predorminar a mais especifica sendo aplica a ambos*/
/*
* {
    color: red;
}
h2{
    color: blue;
}
Nesse caso eu tinha um seletor universal *{} definindo cores vermelhas, porem eu tinha um seletor mais especfco o h2 então o texto de h2 ficou azul.

se eu tiver um mais especifico ainda 

h2.verde{
    color: green
}  esse iria sobresair 
h2#amarelo{
    color: yellow;
}
se eu tivesse um ID ele iria se sobresair porque o ID é ainda mais especifico que uma class
*/

/************* BARRA DE NAVEGAÇÃO VERTICAL ****/
/*
ul {

    list-style-type: none;
    margin:0;
    padding: 0;
}

li {
    padding: 5px 20px;
    background: url(../imagens/seta.png) no-repeat left center;
}*/

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

ul a {
  /*border: 1px solid red;*/
  width: 200px; /* defini a largura  */
  height: 40px; /*definir a altura   */
  display: block; /*todos os elementos definidos com display: block, aceitam as propriedades width e height utilizados acima*/
  color: #000; /*defini a cor do texto do botão*/
  text-decoration: none;
  text-indent: 40px; /*defini o espaçamento do texto*/
  line-height: 40px; /*defini o espaçamento do posicionamento do texto */
  background: url(../imagens/menu.png) no-repeat left bottom; /* url para inserir imagem / no-repeat para não repetir a imagem visto q tenho uma imagem especial nesse caso que são dias em uma uma, left bottom para trazer essa segunda imagem para a esquerda do botão */
}

a:hover{
    background-position: right bottom;
 /* como minha imagem tem 400 px e ela são duas imagens em uma com cores diferentes, usando esse comando ao passar o mouse por cima a segunda imagem toma o lugar da primeira*/
    color: #fff;
}
